[ 'Season 1' ]
Duration (y):                             1y
Bedload (kg/s):                           ${RiverBedLoadFlux}
Suspended load concentration (kg/m^3):    ${RiverSuspendedLoadConc1}, ${RiverSuspendedLoadConc2}
Velocity (m/s):                           ${RiverVelocity}
Width (m):                                ${RiverWidth}
Depth (m):                                ${RiverDepth}

