[ global ]
margin name:            sedflux2d_simulation
vertical resolution:    {z_resolution}
x resolution:           {along_shore_resolution}
y resolution:           {cross_shore_resolution}
bathymetry file:        {bathymetry_file}
sediment file:          sedflux2d_sediment.kvf

[ epoch ]
number:           1
duration:         {run_duration}d
time step:        1y
process file:     sedflux2d_process.kvf

