<h1>Documentation</h1>

<p>Available sub-commands,</p>
<ul>
  <li> <a href="https://csdms.colorado.edu/wmt-server/help/view">View</a> </li>
  <li> <a href="https://csdms.colorado.edu/wmt-server/help/show">Show</a> </li>
  <li> <a href="https://csdms.colorado.edu/wmt-server/help/new">New</a> </li>
  <li> <a href="https://csdms.colorado.edu/wmt-server/help/delete">Delete</a> </li>
  <li> <a href="https://csdms.colorado.edu/wmt-server/help/export">Export</a> </li>
  <li> <a href="https://csdms.colorado.edu/wmt-server/help/convert">Convert</a> </li>
</ul>

