$def with (models, hosts)

<h1>wmt</h1>

<h2>Saved models:</h2>

<table id="hor-minimalist-a">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Date</th>
    <th scope="col">Edit</th>
    <th scope="col">CCA Resource File</th>
  </tr>
  $for model in models:
  <tr>
    <td>$model.id</td>
    <td>$model.name</td>
    <td>$model.date</td>
    <td><a href="/$PREFIX/models/edit/$model.id">Edit</a></td>
    <td><a href="/$PREFIX/models/export/$model.id">Resource File</a></td>
  </tr>
</table>
