$def with (models, hosts)

<h1>Available Models</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <th width=20 scope="col"></th>
      <!--th scope="col">ID</th-->
      <th scope="col">Name</th>
      <th scope="col">Created</th>
    </thead>
    <tbody>
    $for model in models:
      <tr>
      <td><a href="$PREFIX/models/edit/$model.id"><i class="fa fa-pencil"></i></a></td>
      <!--td>$model.id</td-->
      <td>$model.name</td>
      <td>$model.date</td>
      </tr>
    </tbody>
  </table>
</div>
