$def with (form)

<div class="container">
  <form class="form-signin" role="form" action='' method='post'>
    <h2 class="form-signin-heading">Reset password</h2>
    <input name="username" id="username" type="email" class="form-control" placeholder="Email address" required autofocus>
    <input name="password" id="password" type="password" class="form-control" placeholder="Password" required>
    <input name="password2" id="password2" type="password" class="form-control" placeholder="Confirm Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
