[ global ]
margin name:            sedflux2d_simulation
vertical resolution:    {z_resolution}
x resolution:           {x_resolution}
y resolution:           {y_resolution}
bathymetry file:        bathymetry.csv
sediment file:          sediment.kvf

[ epoch ]
number:           1
duration:         {run_duration}d
time step:        1y
process file:     process.kvf

