/* This is the start of the first group */
[ 'Grain 1 (bedload)' ]
grain size (microns):                ${SedimentBedLoadGrainSize}
grain density (kg/m^3):              ${SedimentBedLoadGrainDensity}
saturated density (kg/m^3):          ${SedimentBedLoadSaturatedDensity}
minimum void ratio (-):              ${SedimentBedLoadMinVoidRatio}
diffusion coefficient (-):           ${SedimentBedLoadDiffusionCoeff}
removal rate (1/day):                50
consolidation coefficient (m^2/yr):  100000
compaction coefficient (-):          0.0000000368

/* The rest of the groups */
[ 'Grain 2' ]
grain size (microns):                ${SedimentSuspLoad1GrainSize}
grain density (kg/m^3):              ${SedimentSuspLoad1GrainDensity}
saturated density (kg/m^3):          ${SedimentSuspLoad1SaturatedDensity}
minimum void ratio (-):              ${SedimentSuspLoad1MinVoidRatio}
diffusion coefficient (-):           ${SedimentSuspLoad1DiffusionCoeff}
removal rate (1/day):                ${SedimentSuspLoad1RemovalRate}
consolidation coefficient (m^2/yr):  10000
compaction coefficient (-):          0.00000005
[ 'Grain 3' ]
grain size (microns):                ${SedimentSuspLoad2GrainSize}
grain density (kg/m^3):              ${SedimentSuspLoad2GrainDensity}
saturated density (kg/m^3):          ${SedimentSuspLoad2SaturatedDensity}
minimum void ratio (-):              ${SedimentSuspLoad2MinVoidRatio}
diffusion coefficient (-):           ${SedimentSuspLoad2DiffusionCoeff}
removal rate (1/day):                ${SedimentSuspLoad2RemovalRate}
consolidation coefficient (m^2/yr):  1000
compaction coefficient (-):          0.00000007



