/* 
   CSS rules for the WMT client.
*/

/* All HTML widgets obey this rule. */
.gwt-HTML {
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

/* The primary structuring element of the WMT client. */
.wmt-DockLayoutPanel {
  padding: 3px;
  margin: 5px;
}
.wmt-DockLayoutPanel-devmode {
  border: 1px dashed burlywood;
}


/* Rules for the panel running along the top of the client interface. */
.wmt-ViewNorth0 {
}
.wmt-ViewNorth1 {
  padding-right: 20px;
}
.wmt-ViewNorth2 {
  width: 170px;
}

/* The splitter base for the Model and Parameters tabs. */
.wmt-SplitLayoutPanel {
   border: 3px solid #ddd;
   margin-left: 3px; /* aligns with ModelMenuPanel */
   margin-right: 3px;
   margin-bottom: 3px;
}
.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-HDragger {
   background-color: #ddd;
}

/* Rules for the Model and Parameters tabs. */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
  background: #ddd !important;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
  border-color: #ddd !important;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  font-weight: normal !important;
}

/* The ModelActionPanel is the run of buttons along the top of the client. */
.wmt-ModelActionPanel {
  /* margin-left: -3px; */ /* offsets 3px border in SplitLayoutPanel */
}

/* Rules for the buttons on the ModelActionPanel. */
.wmt-ModelActionPanelButton {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  width: 75px;
  color: #333;
  background-color: rgba(192, 192, 192, 0.50);
  padding: 5px 7px;
  margin-right: 5px; /* provides inter-button spacing */
  border: 1px solid #bbb;
  border-bottom: 1px solid #a0a0a0;
}
.wmt-ModelActionPanelButton:hover {
  background-color: #eee;
}

/* Rules for the MoreActionsMenu. */
.wmt-MoreActionsMenu {
  border: 1px solid #ccc; /* matches gwt-MenuBar-vertical */
  background-color: white;
  padding: 5px 1px 5px 1px;
  box-shadow: 2px 2px 1px rgba(192, 192, 192, 0.75);
}

/* Items shown in the MoreActionsMenu. */
.wmt-MoreActionsMenuItem {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  color: #333;
  padding: 5px 40px 5px 3px;
}
.wmt-MoreActionsMenuItem:hover {
  background-color: #efefff;
}

/* Separators used between groups of MoreActionsMenu items. */
.wmt-MoreActionsMenuSeparator {
  width: 100%;
  height: 1px;
  border-top: 1px solid #ccc;
}

/* The offset for TreeItems in the ModelTree. */
.wmt-TreeItem {
   margin-left: 90px !important;
}

/* Base style for a ComponentCell. */
.wmt-ComponentCell {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-style: italic;
  text-align: center;
  background-color: white;
  border: 2px solid #55b;
  height: 60px;
}

/* A ComponentCell that displays a component. */
.wmt-ComponentCell-connected {  
  font-style: normal;
  background-color: #eef;
}

/* The name (port or component) shown inside the ComponentCell. */
.wmt-ComponentCell-NameCell {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: center;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  margin-left: 5px;
}

/* A ComponentCell that displays a linked component. */
.wmt-ComponentCell-NameCell-linked {
   color: black;
}
.wmt-ComponentCell-NameCell-linked:after {
   font-family: "FontAwesome";
   padding: 3px;
   content: "\f112";
   color: #333;
}

/* Rules for the menuCell inside the ComponentCell. */
.wmt-ComponentCell-MenuCell {
  background-color: white;
  padding: 2px;
}
.wmt-ComponentCell-MenuCell-connected {
  background-color: #eef;
}

/* The button displayed on the menuCell inside the ComponentCell. 
   Needs :after */
.wmt-ComponentCell-ComponentButton:after {
  font-family: "FontAwesome";
  font-style: normal;
  content: "\f067";
  color: #333;  
}
.wmt-ComponentCell-ActionButton:after {
  font-family: "FontAwesome";
  font-style: normal;
  content: "\f078";
  color: #333;
}

/* Pull-down menu items in the ComponentSelectionMenu. */
.wmt-ComponentSelectionMenuItem {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  padding: 6px 40px 6px 1px;
}
.wmt-ComponentSelectionMenuItem:before {
  font-family: "FontAwesome";
  font-style: normal;
  content: "\f013";
  color: #333;
  margin-right: 0.5em;
}
.wmt-ComponentSelectionMenuItem:hover {
  background-color: #efefff;
}
.wmt-ComponentSelectionMenuItem-missing {
  background-color: #fdd;
}

/* Pull-down menu items in the ComponentActionMenu. */
.wmt-ComponentActionMenuItem {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  padding: 6px 40px 6px 1px;
}
.wmt-ComponentActionMenuItem:hover {
  background-color: #efefff;
}

/* The informational message displayed when the ParameterTable is empty. */
.wmt-ParameterTableMessage {
   padding: 1em;
   margin: 0px;
   text-align: center;
   color: #ccc;
}

/* Text used in a parameter description. */
.wmt-ParameterDescription {
   padding: 0 1em 0 1.5em;
   color: #039;
}

/* Separates parameter groups in the ParameterTable. */
.wmt-ParameterSeparator {
   font-style: oblique;
   padding: 10px 0 5px 0;
   color: #039;
   border: solid #039;
   border-width: 0 0 1px 0;
}

/* The ValueCell displays parameter values in the ParameterTable. */
.wmt-ValueCell {
  padding: 4px 2px;
}

/* Used for all TextBox widgets. */
.wmt-TextBoxen {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  background-color: #ffd;
  padding: 5px 4px;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  font-size: small;
  width: 200px;
}

/* All TextBoxen that display numeric values. Used in the ParameterTable. */
.wmt-ValueBoxen {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  background-color: #ffd;
  padding: 5px 4px;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  font-size: small;
  text-align: right;
  width: 200px;
}
.wmt-ValueBoxen-outofrange {
  background-color: #fdd;
}

/* Droplists, used primarily in the ParameterTable. */
.wmt-DroplistBox {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: small;
  /* padding: 5px 4px; */ /* does nothing */
  border: 1px solid #ccc; /* adding this changes the font?!? */
  width: 210px; /* calculated by comparison with ValueBoxen */
}

/* For the droplist + button width for "file" parameter types. */
.wmt-FileUploadBox {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: small;
  border: 1px solid #ccc; /* adding this changes the font?!? */
  width: 177px; /* calculated by comparison with DroplistBox */
}

/* All buttons. */
.gwt-Button {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.gwt-Button-slim {
   padding: 3px 7px !important;
}

/* All labels. */
.gwt-Label {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* For the title on a DialogBox. */
.gwt-DialogBox .Caption {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}
