/* 
   CSS rules for the WMT client.
*/

/* All HTML widgets obey this rule. */
.gwt-HTML {
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.wmt-DockLayoutPanel {
   padding: 3px;
   margin: 1em;
}

.wmt-SplitLayoutPanel {
   border: 3px solid #ccc;
}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-HDragger {
   background-color: #ccc;
}
.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-VDragger {
   background-color: #ccc;
}

.wmt-ParameterTableHeader {
   font-weight: bold;
   color: #333; /* matches font color in tab titles */
   border-bottom: 2px solid #aaa;
   padding-bottom: 5px;
   padding-left: 1px;
}

.gwt-DecoratedPopupPanel .popupMiddleCenter {
   height: 100%;
   width: 100%;
}

.gwt-DecoratedPopupPanel .popupMiddleCenterInner {
   /* background-color: white; */
}

/* The background for the ModelMenu. I don't think it works */
.wmt-ModelMenu {
   border: 1px ridge #ddd;
   background-color: white;
   padding: 3px;
}

/* Separators used between groups of ModelMenu items. */
.wmt-ModelMenuSeparator {
   width: 100%;
   height: 1px;
   margin-bottom: 3px;
   background: 1px solid black;
}

/* The "hamburger" menu icon. */
.wmt-ModelMenuButton {
   margin: 0px;
   padding: 0px;
   color: #333; /* matches font color in tab titles */
}

/* The offset for TreeItems in the ModelTree. */
.wmt-TreeItem {
   margin-left: 90px !important;
}

/* Pull-down menu items in a ComponentCell. */
.wmt-ComponentCellMenuItem {
  padding: 6px 40px 6px 1px;
}

/* "Play" button attached to the driver. */
.wmt-DriverRunCell {
  padding: 1em 0 1em 10px;
  color: #ccc; 
}

/* Change the style of the "Play" button when the model can be run. */
.wmt-DriverRunCell-active {
  color: #333; 
}

/* Base style for a ComponentCell. */
.wmt-ComponentCell {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-style: italic;
  text-align: center;
  background-color: white;
  border: 2px solid #55b;
  height: 50px;
  width: 120px;
  max-width: 120px;
  min-width: 120px;
}

/* A ComponentCell that displays a component. */
.wmt-ComponentCell-connected {
  font-style: normal;
  background-color: #ddf;
  border: 2px solid #55b;
}

/* A ComponentCell that displays a linked component. */
.wmt-ComponentCell-linked {
   color: black;
}
.wmt-ComponentCell-linked:after {
   font-family: "FontAwesome";
   padding: 5px;
   content: "\f112";
   color: black;
}

/* The informational message displayed when the ParameterTable is empty. */
.wmt-ParameterTableMessage {
   padding: 1em;
   margin: 0px;
   text-align: center;
   color: #ccc;
}

/* Text used in a parameter description. */
.wmt-ParameterDescription {
   padding-left: 1.5em;
   color: #039;
}

/* All TextBoxen, but especially those used in the ParameterTable. */
.gwt-TextBox {
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif !important;
   background-color: #ffd;
}

.gwt-TextBox-outofrange {
   background-color: #fdd;
}

.gwt-ListBox {
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
   font-size: medium;
}

.gwt-Button {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.gwt-Button-slim {
   padding: 3px 7px !important;
}

.gwt-Label {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.gwt-DialogBox .Caption {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}

.gwt-PasswordTextBox {
   background-color: #ffd;
}

/* Separates parameter groups in the ParameterTable. */
.wmt-ParameterSeparator {
   font-style: oblique;
   padding: 10px 0 5px 0;
   color: #039;
   border: solid #039;
   border-width: 0 0 1px 0;
}

