/* 
   CSS rules for WMT. 
*/

.gwt-HTML {
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.wmt-DockLayoutPanel {
   padding: 3px;
   margin: 1em;
}

.wmt-SplitLayoutPanel {
   border: 3px solid #ccc;
}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-HDragger {
   background-color: #ccc;
}
.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-VDragger {
   background-color: #ccc;
}

.wmt-ParameterTableHeader {
   font-weight: bold;
   color: #333; /* matches font color in tab titles */
   border-bottom: 2px solid #aaa;
   padding-bottom: 5px;
   padding-left: 1px;
}

.gwt-DecoratedPopupPanel .popupMiddleCenter {
   height: 100%;
   width: 100%;
}

.gwt-DecoratedPopupPanel .popupMiddleCenterInner {
   /* background-color: white; */
   
}

.wmt-ModelMenu {
   border: 1px ridge #ddd;
   background-color: white;
   padding: 3px;
}

.wmt-ModelMenuSeparator {
   width: 100%;
   height: 1px;
   margin-bottom: 3px;
   background: 1px solid black;
}

.wmt-ModelMenuButton {
   margin: 0px;
   padding: 0px;
   color: #333; /* matches font color in tab titles */
   /* z-index: 10; */ /* make sure it's on top */
}

/* 
   Rules imported from DragNDrop. Many should be renamed or deleted. 
*/
/* .gwt-Tree {
   padding: 1px;
} */
/*
.gwt-Tree .gwt-TreeItem {
   margin-left: 2em !important;
}
*/
/* Can't seem to override background color. Is it an image? */
/*
.gwt-Tree .gwt-TreeItem-selected {
   font-style: italic;
   font-size: 90%;
   border: 1px dotted #f88;
   padding: 1em;
}
*/

/* TreeItem offset = ModelCell height */
.wmt-TreeItem {
   margin-left: 60px !important;
   /* vertical-align: bottom; */
   /* padding-bottom: 0px !important; */
   /* border-left: 1px dotted #bbb; */ /* Close, but not quite. */
}

/*
   The following styles are used with a ModelCell.
*/
/* See TreeItem offset. Must factor combined heights of ControlCell icons. */
.wmt-ModelCell {
   height: 60px;
}

.wmt-PortCell {
   font-style: italic;
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;     
   /* padding: 1em 3px 1em 3px; */
   padding: 1em;
   margin: 0px;
   text-align: center;
   /* width: 75px; */ /* This is a fixed, not minimum, width */
}

.wmt-PortCell-connected {
   border: 2px solid #5b5;
   background-color: #efe;
}

.wmt-PortCell-required {
   border: 2px solid #b55;
   background-color: white;
}

.wmt-PortCell-optional {
   border: 2px solid #ee0; /* Need bright, but not too light, yellow */
   background-color: white;
}

.wmt-PortCell-allowed {
   border: 2px solid #5b5;
   background-color: #dfd;
}

.wmt-PortCell-notallowed {
   border: 2px solid #b55;
   background-color: #fdd;
}

.wmt-ConnectorCell {
  color: #bbb;
}

.wmt-ComponentCell {
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;  
   padding: 1em;
   margin: 0px;
   text-align: center;
}

.wmt-ComponentCell-connected {
   border: 2px solid #55b;
   background-color: #eef;
}

.wmt-ComponentCell-unconnected {
   border: 2px dashed #ccc;
   color: #ccc;
}

.wmt-ComponentCell-linked {
   color: #808;
}

.wmt-ComponentCell-linked:after {
   font-family: "FontAwesome";
   padding: 5px;
   content: "\f112";  
   /* content: "@"; */
   color: black;
}

/* 
    Be mindful of hard-coded positioning with these ControlCell icons. 
    Their combined heights may overwhelm the ModelCell height.
*/
.wmt-ControlCell {
   /* height: 50px; */
   position: relative;
   /* top: -15px; */
   left: -7px;
   margin: 0px;
   padding: 0px;
}

.wmt-ControlCell-delete {
   position: relative;
   /* height: 10px; */
   top: -7px;
   color: #b55;
}

.wmt-ControlCell-help {
   position: relative;
   /* height: 10px; */
   top: -11px;
   color: #55b;
}

.wmt-ControlCell-info {
   position: relative;
   height: 10px;
   top: -15px;
   color: #5b5;
}

/* Makes a grabby handle on the components grid. */
.wmt-GrabCell {
   color: #55c;
}
.wmt-GrabCell-notallowed {
   color: #ccc;
}

/*
.wmt-GrabCell {
   position: relative;
   padding-left: 0.5em;
}

.wmt-GrabCell:before {
   content: "";
   position: absolute;
   left: 0px;
   top: -0.75em;
   width: 1px;
   height: 1.5em;
   border-left: 2px solid #aaa;
   border-right: 2px solid #aaa;
}
*/

.wmt-TextCell {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  color: black;
}
.wmt-TextCell-notallowed {
  color: #ccc;
}

/* Style used for right-click context menu in a ModelTree. */
.wmt-ContextMenu {
   padding: 3px;
   border: 1px #ddd;
   background-color: white;
}

.wmt-ParameterTableMessage {
   padding: 1em;
   margin: 0px;
   text-align: center;
   color: #ccc;
}

.wmt-ParameterDescription {
   padding-left: 1.5em;
   color: #039;
}

.gwt-TextBox {
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif !important;
   background-color: #ffc;
}

.gwt-TextBox-outofrange {
   background-color: #fcc;
}

.gwt-ListBox {
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
   font-size: initial;
}

.gwt-Button {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.gwt-Button-slim {
   padding: 3px 7px !important;
}

.gwt-Label {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.gwt-DialogBox .Caption {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}

.gwt-PasswordTextBox {
   background-color: #ffc;
}

/* Separates parameter groups in the ParameterTable. */
.wmt-ParameterSeparator {
   /* font-weight: bolder; */
   font-style: oblique;
   /* margin: 15px 0 10px 0; */
   padding: 10px 0 5px 0;
   color: #039;
   border: solid #039;
   border-width: 0 0 1px 0;
}

